@import "fonts.styl"
@import "slider.styl"
@import "nib"

.u-title
  border-bottom 2px dashed #00CCFF
  color #00CCFF
  font-weight normal
  font-size 1.5em
  padding-bottom .5em
  text-align center

.u-containerDefault
  max-width 800px
  margin 0 auto

.MainMenu
  background #1E1E1E
  text-align center
  height 3.75em
  position fixed
  left 0
  right 0
  top 0
  z-index 3

.MainMenu-list
  margin 0
  padding 0

.MainMenu-item
  display inline-block

.MainMenu-link
  color #00DBFF
  text-decoration none
  line-height 3.75em
  margin-right 1.5em

.Header
  margin-top 3.75em
  background-image url('../images/portada.jpg')
  background-repeat no-repeat
  background-position center
  background-size cover
  text-align center
  padding 1.2em 0
  &-button
    border none
    border-radius 50%
    height 40px
    line-height 40px
    outline 0
    position absolute
    right 1em
    top .5em
    width 40px
    background white
    display none
    &.is-active
      display block
.Header-imageContainer
  margin 0

.Header-image
  border 5px solid white
  border-radius 50%

.Header-name,
.Header-link
  color white

.Header-link
  font-size 2.2em
  font-weight bold
  text-decoration none

.Header-name
  font-size 1.5em
  font-weight 300
  margin 0

.Profile
  text-align center

.Profile-link
  background orange
  border-radius 2em
  color white
  margin-right .5em
  padding .5em 1em
  margin-bottom 1.3em
  text-decoration none
  display inline-block
  &.facebook
    background #4862A3
  &.twitter
    background #55ACEE
  &.gplus
    background #E53A3D
  &:before
    margin-right .5em
    
.Work
  margin-top 2em
  text-align center
  &-container
    display flex
    flex-wrap wrap
    justify-content space-around
.Work-item
  display inline-block
  // margin-right 1.8em
  margin-bottom 1.8em

.Work-imageContainer
  margin 0

.Work-description
  font-size 1.1em
  color #515151
  font-style italic

.Footer
  // background-image url('../images/footer.jpg')
  background-color #0EC3DE
  background-repeat no-repeat
  background-position center
  // background-size cover
  image('../images/footer-mejorandola.jpg', w=1024px, h=343px)
  padding 2em 0
  text-align center

.Footer-form
  text-align center
  display inline-block

.Footer-left
  display inline-block
  max-width 32em
  text-align center
  vertical-align top

.Footer-title
  color white

.Footer-formInput,
.Footer-textarea
  background white
  border none
  display block
  border-radius 2em
  padding .5em
  margin 0 auto 1em

.Footer-textarea
  resize none

.Footer-button
  background orange
  border-radius 1em
  border none
  color white
  padding .5em 1em


.Slider
  background black
  &-container
    max-width 1024px
    margin 0 auto
@media screen and (min-width: 768px)
  .Header
    &-button
      display none
@media screen and (max-width: 767px)

  .Profile
  .Work
    padding 0 1em
  .Footer
    &-form
      display block
    &-formInput
    &-textarea
      width 90%
      
@media screen and (max-width: 480px)
  .Profile
    &-link
      display block
      margin-left 1em
  .Header
    margin-top 0
  .MainMenu
    left -200px
    transition .3s
    width 200px
    background #1E1E1E
    height auto
    &.is-active
      left 0
    &-item
      display block
      