@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-37ng5q');
    src:url('../fonts/icomoon.eot?#iefix-37ng5q') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-37ng5q') format('woff'),
        url('../fonts/icomoon.ttf?-37ng5q') format('truetype'),
        url('../fonts/icomoon.svg?-37ng5q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-showMenu:before {
    content: "\e603";
}
.icon-hideMenu:before {
    content: "\e604";
}
.icon-googleplus:before {
    content: "\e600";
}
.icon-facebook:before {
    content: "\e601";
}
.icon-twitter:before {
    content: "\e602";
}
