@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-n1dj8w');
    src:url('../fonts/icomoon.eot?#iefix-n1dj8w') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-n1dj8w') format('woff'),
        url('../fonts/icomoon.ttf?-n1dj8w') format('truetype'),
        url('../fonts/icomoon.svg?-n1dj8w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-showMenu:before {
    content: "\e600";
}
.icon-hideMenu:before {
    content: "\e601";
}
.icon-facebook:before {
    content: "\e602";
}
.icon-twitter:before {
    content: "\e603";
}
.icon-github:before {
    content: "\e604";
}
