@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-tms8kq');
	src:url('../fonts/icomoon.eot?#iefix-tms8kq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-tms8kq') format('woff'),
		url('../fonts/icomoon.ttf?-tms8kq') format('truetype'),
		url('../fonts/icomoon.svg?-tms8kq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Utilidades */
.u-title{
	border-bottom: 2px dashed #00DBFF;
	color: #00DBFF;
	font-weight: 400;
	padding-bottom: .5em;
	text-align: center;
}

.u-containerDefault{
	width: 50em;
	margin: 0 auto;
}

.u-containerSkills{
	width: 50em;
	margin: 1.5em auto;
}

.u-twitter{
	background: #55ACEE;
	border-radius: 35px;
	box-shadow: 3px 3px 1px #338ACC, inset 3px 3px 1px transparent;
	padding: .5em;
	transition: all .2s ease-in;
}
.u-twitter:hover{
	box-shadow: 3px 3px 1px transparent, inset 3px 3px 1px #338ACC;
}
.u-twitter:before{
	content: "\e603";
	font-family: 'icomoon';
	font-size: 1.5em;
	padding-right: .6em;
	vertical-align: bottom;
}

.u-git{
	background: #BCBBCB;
	border-radius: 35px;
	box-shadow: 3px 3px 1px #9A99A9, inset 3px 3px 1px transparent;
	padding: .5em;
	transition: all .2s ease-in;
}
.u-git:hover{
	box-shadow: 3px 3px 1px transparent, inset 3px 3px 1px #9A99A9;
}
.u-git:before{
	content: "\e604";
	font-family: 'icomoon';
	font-size: 1.5em;
	padding-right: .6em;
	vertical-align: bottom;
}

.u-facebook{
	background: #3B5998;
	border-radius: 35px;
	box-shadow: 3px 3px 1px #193776, inset 3px 3px 1px transparent;
	padding: .5em;
	transition: all .2s ease-in;
}
.u-facebook:hover{
	box-shadow: 3px 3px 1px transparent, inset 3px 3px 1px #193776;
}
.u-facebook:before{
	content: "\e602";
	font-family: 'icomoon';
	font-size: 1.5em;
	padding-right: .6em;
	vertical-align: bottom;
}

.u-msj:before{
	border-radius: 50%;
	border: 4px solid white;
	content: "\e606";
	font-family: 'icomoon';
	font-size: 5em;
	padding: .1em;

}

.u-plus:before{
	border-radius: 50%;
	border: 4px solid white;
	content: "\e605";
	font-family: 'icomoon';
	font-size: 5em;
	padding: .1em;
}

.u-Vertical{
	vertical-align: 8em;
}

/* Componentes */

/* MainMenu */
.MainMenu{
	background: #1E1E1E;
	left:0;
	position: fixed;
	right: 0;
	text-align: center;
	top:0;
}

.MainMenu-list{
	margin:0;
	padding: 0;
}

.MainMenu-item{
	display: inline-block;
}

.MainMenu-link{
	color: #00DBFF;
	font-size: 1.25em;
	margin: 0;
	display: block;
	padding: 1em 1.25em;
	text-decoration: none;
}
.MainMenu-link:hover{
	color: white;
}

/* Header */
.Header{
	background-image: url('../images/portada.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 3.75em;
	padding: 1em 0;
	text-align: center;
}

.Header-listAvatar{
	margin: 0;
	padding: 0;
}

.Header-itemAvatar{
	display: inline-block;
}

.Header-linkAvatar{
	color: white;
	text-decoration: none;
}

.Header-imageContainer{
	margin: 1em 0;
}

.Header-image{
	border:5px solid white;
	border-radius: 50%;
}

.Header-link,
.Header-name{
	color: white;
}

.Header-link{
	font-weight: bold;
	font-size: 2.2em;
	text-decoration: none;
}
.Header-link:hover{
	text-decoration: underline;
}

.Header-name{
	font-size: 1.5em;
	font-weight: 300;
	margin:0;
}

/* Profile */

.Profile{
	text-align: center;
}

.Profile-link{
	border-radius: 1.5em;
	color: white;
	padding: .5em 1em;
	text-decoration: none;
	margin-right: .5em;
	display: inline-block;
}

.Profile-description{
	margin-bottom: 1em;
}

.Profile-skill{
	display: inline-block;
	margin: 1em .5em;
	width: 23em;
}
.Profile-skillItem{
	float: left;
	margin: 0;
}
/* Work */
.Work{
	text-align: center;
}

.Work-item{
	display: inline-block;
}

.Work-imageContainer{
	margin: 0 2em 1em 0;
}

.Work-description{
	color: #515151;
	font-size: 1.1em;
	font-style: italic;
}

/* Footer */

.Footer{
	background-image: url('../images/footer.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 2em 0;
}

.Footer-left{
	width: 500px;
	display:  inline-block;
	vertical-align: top;
}
.Footer-form{
	padding: 2em;
	width: 18em;
	display:  inline-block;
	vertical-align: top;
}

.Footer-title{
	color: white;
	font-weight: normal;
}

.Footer-input{
	border-radius: 30px;
	border: none;
	display: block;
	margin-bottom: .5em;
	padding: .5em .8em;
	width: 15em;
}

.Footer-textarea{
	border-radius: 20px;
	border: none;
	display: block;
	height: 5em;
	margin-bottom: 1em;
	padding: .5em .8em;
	resize: none;
	width: 15em;
}

.Footer-button{
	background: #FF7C00;
	border-radius: 30px;
	border: none;
	color: white;
	padding: .5em 1.5em;
}