/* Utilidades */
.u-title{
    border-bottom: 2px dashed #00DBFF;
    color: #00DBFF;
    font-weight: 400;
    padding-bottom: .5em;
    text-align: center;
}

.u-containerDefault{
    width: 50em;
    margin: 0 auto;
}

/* Componentes */

/* MainMenu */
.MainMenu{
    background: #1E1E1E;
    height: 3.75em;
    left:0;
    position: fixed;
    right: 0;
    text-align: center;
    top:0;
}

.MainMenu-list{
    margin:0;
    padding: 0;
}

.MainMenu-item{
    display: inline-block;
}

.MainMenu-link{
    color: #00DBFF;
    font-size: 1.25em;
    line-height: 60px;
    margin: 0 1.25em;
    text-decoration: none;
}

/* Header */
.Header{
    background-image: url('../images/portada.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3.75em;
    padding: 1em 0;
    text-align: center;
}

.Header-image{
    border:5px solid white;
    border-radius: 50%;
}

.Header-link,
.Header-name{
    color: white;
}

.Header-link{
    font-weight: bold;
    font-size: 2.2em;
}

.Header-name{
    font-size: 1.5em;
    font-weight: 300;
    margin:0;
}

/* Profile */

.Profile{
    text-align: center;
}

.Profile-link{
    background-color: orange;
    border-radius: 1.5em;
    color: white;
    padding: .5em 1em;
    text-decoration: none;
    margin-right: .5em;
    display: inline-block;
}


.Profile-description{
    margin-bottom: 1em;
}

/* Work */
.Work{
    text-align: center;
}

.Work-item{
    display: inline-block;
}

.Work-imageContainer{
    margin: 0 2em 1em 0;
}

.Work-description{
    color: #515151;
    font-size: 1.1em;
    font-style: italic;
}

/* Footer */

.Footer{
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 2em 0;
}

.Footer-left{
    width: 500px;
    display:  inline-block;
    vertical-align: top;
}
.Footer-form{
    padding: 2em;
    width: 18em;
    display:  inline-block;
    vertical-align: top;
}

.Footer-title{
    color: white;
    font-weight: normal;
}

.Footer-textarea,
.Footer-input{
    background: white;
    border: none;
    display: block;
    border-radius: 2em;
    padding: .8em;
    outline: 0;
    margin: 0 auto .8em;
}

.Footer-button{
    background: orange;
    border: none;
    color: white;
    padding: .5em;
    border-radius: 1.5em;
}