<!DOCTYPE html>

<html lang="es">
    <head>
        <title>Mi portafolio online</title>
        <meta charset="UTF-8"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css"/>
        <link rel="stylesheet" href="../static/css/estilos.css"/>
    </head>
    <body>
        <header id="yo" class="Header">
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#yo">yo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#perfil">perfil</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#trabajo">Mi trabajo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#contacto">Contáctame</a>
                    </li>
                </ul>
            </nav>

            <figure class="Header-imageContainer">
                <img src="../static/images/avatar.jpg" alt="@LeonidasEsteban" class="Header-image"/>
                <figcaption class="Header-description">
                    <a href="http://twitter.com/leonidasesteban/" target="_blank" class="Header-link">@Leonidasesteban</a>
                </figcaption>
                <p class="Header-name">Leonidas Esteban</p>
            </figure>
        </header>
        <section id="perfil" class="Profile">
            <div class="u-containerDefault"> 
                <h2 class="Profile-title u-title">Mi Perfil</h2>

                <p class="Profile-description">Puedes <strong>visitar</strong> mis redes <span class="Profile-span">sociales</span> si quieres <em>seguirme</em></p>

                <a class="Profile-link" href="http://twitter.com/leonidasesteban/">@LeonidasEsteban</a>

                <a class="Profile-link" href="http://facebook.com/leonidasesteban/">LeonidasEsteban</a>

                <a class="Profile-link" href="http://github.com/leonidasesteban/">LeonidasEsteban</a>
            </div>
        </section>
        <section id="trabajo" class="Work">
            <div class="u-containerDefault"> 
                <h2 class="Work-title u-title">Mi Trabajo</h2>
            </div>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/proyecto.jpg" alt="Mejorando.la"/>
                        <figcaption>Sitio de Mejorando.la</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/proyecto.jpg" alt="Mejorando.la"/>
                        <figcaption class="Work-description">Sitio de Mejorando.la</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/proyecto.jpg" alt="Mejorando.la"/>
                        <figcaption class="Work-description">Sitio de Mejorando.la</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/proyecto.jpg" alt="Mejorando.la"/>
                        <figcaption class="Work-description">Sitio de Mejorando.la</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/proyecto.jpg" alt="Mejorando.la"/>
                        <figcaption class="Work-description">Sitio de Mejorando.la</figcaption>
                    </figure>
                </article>
        </section>
        <footer id="contacto" class="Footer">
            <div class="Footer-left">
                <h3 class="Footer-title">Contacto</h3>
                <p class="Footer-description">Si quieres contratarme puedes escribirme en este pequeño formulario</p>
            </div>
            <form action="" class="Footer-form">
                <input type="text" placeholder="Nombre" class="Footer-input">
                <input type="email" placeholder="Email" class="Footer-input">
                <textarea placeholder="motivo" class="Footer-textarea"></textarea>
                <button type="submit" class="Footer-button">Contactarme</button>
            </form>
        </footer>
    </body>
</html>

